.main-frame {
    display: grid;
    position: relative;
    left: 300px;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    font-size: 90px;
}
.main-frame > div {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(238, 238, 9, 0.432);
}

h1 {
    position: relative;
    left: 370px;
}
